<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',
	{
		page: '404',
		title:'KiwiHub - 404',
		description:'Page not found',
		url: 'd3ward.github.io/kiwihub/404',
		preview_thumbnail:'https://d3ward.github.io/kiwi-hub/assets/preview_kiwihub.jpg',
		keywords:'extensions,actions,userscripts,guides,kiwi,Kiwi Browser,web design,open source'
	}) %>
<body>
	<%- include('partials/support_me.ejs') %>
	<%- include('partials/header.ejs', {page:'404'}) %>
    <main>
        <div class="hero">
            <div class="_aos-top">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-error-404" width="180" height="180" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M3 7v4a1 1 0 0 0 1 1h3"></path>
					<path d="M7 7v10"></path>
					<path d="M10 8v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1z"></path>
					<path d="M17 7v4a1 1 0 0 0 1 1h3"></path>
					<path d="M21 7v10"></path>
				 </svg>
            </div>
            <div class="_aos-bottom _txt">
                <h2><strong>Not Found</strong></h2>
                <h5>Maybe you are looking for one of these pages</h5>
				<div class="_2-col">
					<div>
						<a href="./extensions.html">
							<div class="card _aos-bottom  _txt">
								<div class="img-w">
									<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
									 </svg>
								</div>
								<h6 class="_txt-center">Extensions</h6>
							</div>
						</a>
					</div>
					<div>
						<a href="./userscripts.html">
							<div class="card _aos-bottom  _txt">
								<div class="img-w">
									<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M17 20h-11a3 3 0 0 1 0 -6h11a3 3 0 0 0 0 6h1a3 3 0 0 0 3 -3v-11a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v8"></path>
									 </svg>
								</div>
								<h6 class="_txt-center">Userscripts</h6>
							</div>
						</a>
					</div>
					<div>
						<a href="./actions.html">
							<div class="card _aos-bottom  _txt">
								<div class="img-w">
									<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M6 21l15 -15l-3 -3l-15 15l3 3"></path>
										<path d="M15 6l3 3"></path>
										<path d="M9 3a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
										<path d="M19 13a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
									 </svg>
								</div>
								<h6 class="_txt-center">Custom Actions</h6>
							</div>
						</a>
					</div>
					<div>
						<a href="./guides.html">
							<div class="card _aos-bottom  _txt">
								<div class="img-w">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="100%"  height="100%"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.3"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-text"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M9 9l1 0" /><path d="M9 13l6 0" /><path d="M9 17l6 0" /></svg>
				</div>
				<h6 class="_txt-center">Guides</h6>
			</div>
		</a>
		</div>             
				</div>
            </div>
        </div>
       
    </main>
	<%- include('partials/footer.ejs') %>
		<%- include('partials/gotop.ejs') %>
</body>

</html>