<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',
		{
			page:'userscripts',
			title:'Userscripts - KiwiHub',
			description:'',
			url: 'd3ward.github.io/kiwihub/userscripts',
			preview_thumbnail:'https://d3ward.github.io/kiwihub/assets/preview_kiwihub.jpg',
			keywords:'kiwi, kiwi browser, kiwihub, userscripts, scriptz, open source, free'
		}) %>

<body>
	<%- include('partials/changelog.ejs') %>
	<%- include('partials/support_me.ejs') %>
	<%- include('partials/header.ejs', {page:'userscripts'}) %>

	<main>
		<a href="/kiwihub/" class="btn btn-sgd btn-kh">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M5 12l14 0" />
				<path d="M5 12l6 6" />
				<path d="M5 12l6 -6" />
			  </svg>
			KiwiHub </a>
			<a href="https://github.com/d3ward/kiwihub/issues/new?assignees=d3ward&labels=userscript&projects=&template=new-userscript.md&title=%5B+NAME+OF+USERSCRIPT+%5D" class="btn btn-sgd btn-kh">
			
				<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dot"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>
				New Userscript on GH</a>
		<div class="card _ta-center">
			<div class="_aos-top">
				<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M17 20h-11a3 3 0 0 1 0 -6h11a3 3 0 0 0 0 6h1a3 3 0 0 0 3 -3v-11a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v8"></path>
				 </svg></div>
			<div class="_aos-bottom">
				<h3><strong>Userscripts for Kiwi Browser</strong></h3>
				<p>A curated list of userscripts for Kiwi Browser</p>
			</div>
		</div>
		<section>
			<% const userscripts=require('./data/userscripts.json') %>
				<div class="grid _overflowhidden" id="ext-grid" style="min-height: 100vh;">
					<% for (let key in userscripts) { %>
						<% value=userscripts[key]%>
							<% if (key !='default' && !value.hide) { %>
								<div class="col-6">
									<div class="card _aos">
										<h3 class="_txt-center">
											<%= value.name %>
										</h3>
										<% if (!value.author){ %>
											<span> d3ward </span>
										<% } %>
										<p>
											<%= value.description %>
										</p>
										<div>
											<% if (value.params && value.params.length > 0) { %>
												<% for (let param of value.params) { %>
												<div class="field">
													<label for="<%= param %>"><%= param %>:</label>
												  <input type="text" id="<%=value.id%>_<%=param%>" class="param-i">
												</div>
												<% } %>
											  <% } %>
										</div>
										<a  class="btn btn-p" id="previewCode_<%=value.id%>" href="<%= value.url %>">
											<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
											Install
										</a></pre>
									</div>
								</div>
								<% } %>
									<% } %>
				</div>
		</section>
	</main>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>
</body>
</html>